.tabela-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;


}

.nivel {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    /* Ajuste para exibir os sub-itens em colunas */
}

.numero-nivel {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    color: white;
    font-size: 24px;
    font-weight: bold;
    border-radius: 50%;
    margin-bottom: 20px;
}

.coluna-descricao {
    padding: 15px 5px;
}

/* Estilos específicos para cada atributo */

.cultura-protecao {
    background-color: #ffcd57;
    color: #333;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 4px;
}

.processos {
    background-color: #5cb85c;
    color: white;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 4px;
}

.ferramentas {
    background-color: #5bc0de;
    color: white;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 4px;
}

.habilidades {
    background-color: #f0ad4e;
    color: #333;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 4px;
}

.responsabilidade {
    background-color: #d9534f;
    color: white;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 4px;
}

/* Estilos específicos para cada nível */

.numero-nivel-5 {
    background-color: #46CE5B;
}

.numero-nivel-4 {
    background-color: #5E98EE;
}

.numero-nivel-3 {
    background-color: #8851B2;
}

.numero-nivel-2 {
    background-color: #F8C719;
}

.numero-nivel-1 {
    background-color: #FF0000;
}